div#contactus{
    background-image: url("../img/FormBackground.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    display: grid;
    grid-template-columns: 1fr 46vh 1fr;
    grid-template-rows: 12vh 80vh;
}


#contactus h1{
    font-weight: bolder;
    color: white;
    text-shadow: black 2px 2px 2px;

    grid-column: 2/3;
    grid-row: 1/2;



    display:table-cell; 
    vertical-align:middle
}

div#contactUsPylon{
    background-image: url("../img/FormPylon.png");
    background-repeat: no-repeat;
    background-size: 100% 140vh;
    grid-column: 2/3;
    grid-row: 2/3;

}


/* FORM */

div#contactUsPylon form{
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 10%;
    width: 69%;
    left: 15%;
    height: 75%;
}

div#contactUsPylon div{
    height: 15%;
    width: 100%;
    /* margin-top: 1%; */
    font-size: 1em;

}

div#contactUsPylon form input, div#contactUsPylon form textarea{
    /* margin: 1vh 0; */
    width: 100%;
    padding: 1vh;
	resize: none;
	background-color: #eeeeee;
    border: none;
}

div#contactUsPylon form textarea{
    height: 80%;
}

div#contactUsPylon div.submit{
    position: absolute;
    bottom: 0;
}

div#contactUsPylon div#messagediv{
    height: 30%;
}

div#contactUsPylon input[type~="submit"]{
    width: 95%;
    position: absolute;
    bottom: 0;
    background-color: #5B9BD5;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1.8vh 1vh;
    color: white;
    font-size: 1.5em;
    transition: 100ms;
}

/* Hover-effect for submit button */
div#contactUsPylon input[type~="submit"]:hover {
    background-color: rgba(77, 197, 141, 1);
    cursor: pointer;
    width: 100%;
    transition: 100ms;
}
/* Active-effect for submit button */
div#contactUsPylon input[type~="submit"]:active {
    background-color: rgba(77, 197, 141, 1);
    cursor: pointer;
    width: 100%;
    outline: none;
}


@media screen and (min-width: 600px){
    div#contactus{
        grid-template-columns: 1fr 60vh 1fr;
    }
}



