#footer{
    height: 20vh;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300i;
    font-size:calc(16px + 0.5vw);
    padding-top: 0;
}