#footer{
    height: 25vh;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
#footerOne{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
#footerTwo{
    position: relative;
    left: 15px;
}
#footerImg{
    height: calc(30px + 0.5vw);
    padding-right: 10px;
}