/* ---------------------------------------- */
/* ------------- FRONT PAGE --------------- */
/* ---------------------------------------- */

/* Front page section */
#frontPage {
	padding: 0px;
}

/* ---------------------------------------- */
/* ------ VIDEO CONTAINER AND VIDEO ------- */
/* ---------------------------------------- */

/* Video container: Position, size and effects */
#videoContainer {
	position: relative;
    height: 100vh;
    width: 100vw;
	overflow: hidden; 
}

/* Video size and effects */
#videoContainer > video {
	min-height: 100vh;
	min-width: 100vw;
	box-shadow: inset 0 0 100px black;
}

/* ---------------------------------------- */
/* -------- FRONT PAGE FOR MOBILE --------- */
/* ---------------------------------------- */

/* Video container for mobile: Position, size and effects */
#mobileFP {
    position: relative;
    height: 100vh;
    background: url("../img/frontPage/mobileFP.jpg");
    overflow: hidden; 
	box-shadow: inset 0 0 100px black;
	display: none;
	background-attachment: fixed;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* ---------------------------------------- */
/* ----------- HEADER ELEMENTS ------------ */
/* ---------------------------------------- */

/* Header elements: Content positions */
.headerElements {
	display: flex;
	justify-content: center;
	justify-items: center;
}

/* Logo: Position and size */
.headerElements > img {
	position: absolute;
	height: 25px;
	top: 1em;
	left: 1.5em;
}

/* h1 formating */
.headerElements > h1 {
	position: absolute;
	top: 25vh;
	font-weight: 700;	
	text-shadow: 1px 1px 7px black;
	color: white;
	z-index: 10;
}

/* h1 formating */
.headerElements > h3 {
	position: absolute;
	top: 37vh;
	text-shadow: 1px 1px 2px black;
	font-weight: 100;
}

/* Down arrow: Position, style and activate bounce effect */
.headerElements > a {
    position: absolute;
    top: 90%;
	text-decoration: none;
	animation: bounce 2s;
	animation-iteration-count: infinite;
	background-color: transparent;
	border: none;
}

/* Down arrow on focus style */
#downBtn:focus {
	outline: none;
}

/* Dark overlay on background */
#darkOverlay{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	min-height: 100%;
	min-width: 100%;
	z-index: 0;

}

/* ---------------------------------------- */
/* --------- HOVER BOUNCE EFFECT ---------- */
/* ---------------------------------------- */

/* Used this source to understand how the bounce-effect worked.
Link to source: https://stackoverflow.com/questions/29005916/make-button-bounce-with-css3 */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* ---------------------------------------- */
/* -------- RESPONSIVE FOR MOBILE --------- */
/* ---------------------------------------- */

/* Responsive background img for mobile devices */
@media only screen and (max-width: 1100px) {
    #videoContainer {
        display: none;
      }
    #mobileFP {
        display: block;
    }
    .headerElements > a {
    	top: 85vh;
    }
	.headerElements > h1 {
		font-size: calc(33px + 0.8vw);
	}
    .headerElements > h3 {
    	top: 31vh;
    	font-size: calc(15px + 0.8vw);
    }
    #darkOverlay{
    	display: none;

    }
}

/* Responsive header and logo style */
@media only screen and (max-width: 750px) {
	.headerElements > h1 {
		font-size: calc(12px + 0.8vw);
	}
    .headerElements > h3 {
    	top: 28vh;
    	font-size: calc(10px + 0.8vw);
    }
	.headerElements > img {
		left: 50%;
		transform: translate(-50%);
	}

}