/* Styling for the gallery images and container. */
.carousel-container{
    position: relative;
    display: block;
    width: 88vw;
    margin: auto;
    overflow: hidden;
}
.carousel-slide{
    display: flex;
    width: 88%;
}
.carousel-slide img{
    width: 100vw;
    margin: auto;
}
/* Styling for the buttons on image-gallery */
.btns{
    position: absolute;
    top: 50%;
}
#prevBtn{
    width: 7.5%;
    transform: translateY(-50%);
    margin-left: 5px;
}
#nextBtn{
    right: 0;
    width: 7.5%;
    transform: translateY(-50%);
    margin-right: 5px;
}
/* Hover animation for gallery-buttons */
#prevBtn:hover {
    width: 8.5%;
    transition: 100ms;
    cursor: pointer;
}
#nextBtn:hover {
    width: 8.5%;
    transition: 100ms;
    cursor: pointer;
}
/* Responsive styling for the gallery */
@media screen and (max-width:768px){
    .carousel-container{
        width: 100vw;
    }
    .carousel-slide img{
        width: 100vw;
    }
}