.carousel-container{
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    width: 60vw;
    margin: auto;
    overflow: hidden;
}
.carousel-slide{
    display: flex;
    width: 100%;
}
.carousel-container img{
    width: 60vw;
    margin: auto
}
.btns{
    border: none;
    border-style: none;
    cursor: pointer;
    font-size: 10vw;
    width: auto;
    transition: 0.6s ease;
    top: 8%;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
}
#prevBtn{
    padding: 20% 40px 20% 20px;
}
#nextBtn{
    right: 0;
    border-radius: 3px 0 0 3px;
    padding: 20% 20px 20% 40px;
}
@media screen and (max-width:768px){
    .carousel-container{
        display: block;
        width: 100vw;
        margin: auto;
        overflow: hidden;
    }
    .carousel-container img{
        width: 100vw;
        margin: auto;
    }
    .btns{
        font-size: 40px;
        width: auto;
        transition: 0.6s ease;
        top: 12%;
    }
}