*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 75%;
    margin: auto;
}
.main-img img, 
.imgs img{
    width: 100%;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-in 1 forwards;
}

/*Styling for mobile resolution*/

.carousel-container{
    display: none;
    overflow: hidden;
}
.btns{
    display: none;
}
.carousel-slide{
    display: flex;
    width: 100%;
}
.carousel-container img{
    width: 100vw;
    margin: auto
}
@media only screen and (max-width: 768px){
    .container{
        display: none;
    }
    .carousel-container{
        display: block;
    }
    .btns{
        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 100vw;
        height: 50px;
        margin: auto;
        text-align: center;
    }
    #prevBtn{
        width: 100%;
        border-radius: 5%;
        background-color: black;
        color: #4dc58d;
        font-family: 'Poppins', sans-serif;
        font-size: calc(30px + 0.5vw);
        letter-spacing: 2px;
    }   
    #nextBtn{
        width: 100%;
        border-radius: 5%;
        background-color: black;
        color: #4dc58d;
        font-family: 'Poppins', sans-serif;
        font-size: calc(30px + 0.5vw);
        letter-spacing: 5px;
    }   
}