*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
}

/* TEXT */
p,h1,h2,h3,li,b,strong {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 300i;
	font-size:calc(10px + 0.5vw);
}

/* General text. Content on testimonials */
p {
	font-size:calc(9px + 0.5vw); 
}


/* Strong text together with the p-element. */
strong{
	font-size:calc(10px + 0.5vw);
	color: #5B9BD5;
}

/* Section-titles */
h1{
	color: #5B9BD5;
	font-size:calc(20px + 3vw);
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
}

/* Sub-proposale */
h2{
	text-align: center;
	font-size:calc(15px + 1vw);
	font-weight: 100;
} 

/* Subtitles and the title what we offer. */
h3{

	font-size:calc(15px + 0.7vw);
	font-weight: 400;
}

/* List element in our customers and under what we offer. */ 
li {
	font-size:calc(9px + 0.5vw);
}

/* OUR BUSINESS STYLE:
Text align justify for content of this section. */
#ourBusiness {
    text-align: justify;
}

/* main-ourBusiness has 1fr for img, and 5fr for the p-element.
The width is 60vw to get a clean transition from the img gallery. */
.main_ourBusiness {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 60vw;
    margin: auto;
}

/* Strong style. */
#ourBusiness > .main_ourBusiness > p > strong {
    font-size: 1.05em;
    color: #4DC58D;
}

/* The img position. */
#ourBusiness > .main_ourBusiness > img {
    position: relative;
    margin-left: 10%;
}

/* Responsive for mobile. */
@media only screen and (max-width: 768px) {
    #ourBusiness > .main_ourBusiness > img {
        display: none;
    }
    #ourBusiness > .main_ourBusiness {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}