/*Adding padding top to all section elements to give navbUrger space.*/
section{
	padding-top: 8vh;
}
/* Style for the responsive navBurger. */
nav{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 7vh;
	margin: auto;
	background-color: black;
	position: sticky;
	top: 0;
    z-index: 10;
}
.nav-links{
	display: flex;
	position: absolute;
	justify-content: space-around;
	align-items: baseline;
	width: 70%;
	margin: 0%;
	list-style: none;
}
.nav-links a{
	position: relative;
	color: white;
	text-decoration: none;
	margin: 0;
	font-size: calc(10px + 0.6vw);
	transition: color .4s ease-out;
}
/* LINK HOVER AND UNDERLINE ANIMATION */
.nav-links a:hover{
	color: #4DC58D;
}
.nav-links a::after{	
	transition: .4s cubic-bezier(0,.5,0,1),border-color .4s ease-out;
  	border-top: 0.1em solid #4DC58D;
  	content: "";
  	position: absolute;
  	width: 0%;
  	top: 100%;
    left: 50%;
}
.nav-links a:hover::after{
	width: 90%;
	border-color: #4DC58D; 
	left: 5%;
	transition: 0.2s;
}

/* BURGER DESIGN */
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 2px;
	background-color: #4DC58D;
	margin: 5px;
	transition: all 0.3s ease-in;
}

/* burger animation upon click */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}
/* HASSEL LOGO BRACKETS TO THE TOP ICON*/
#topLogo {
	display: inline-block;
	position: absolute;
	left: 0;
	margin-left: 1%;
	width: calc(25px + 0.5vw);
	top: 33%;
	transition: 0.3s;
}

#topLogo:hover {
	transform: scale(1.2);
}
@media screen and (max-width:1100px){
	#topLogo {
		position: absolute;
		left: 0;
		margin-left: 3%;
		width: calc(25px + 0.5vw);
		top: 30%;
	}
	body{
		overflow-x: hidden;
	}
	nav{
		flex-direction: row;
        justify-content: flex-end;
	}
	.nav-links{
		position: absolute;
		margin-top: 5%;
		right: 0px;
		height: 100vh;
		top: 0vh;
		background-color: black;
		display: none;
		justify-content: flex-start;
		flex-direction: column;
        align-items: center;
		width: 70vw;
		transform: translateX(100%);
		transition: transform 0.1s ease-in;
	}
	.nav-links li{
		opacity: 0;
		margin-top: 20%;
	}
	.nav-links a{
		font-size: calc(10px + 2vw);
	}
	.burger{
		display: block;
        margin-right: 8%;
        z-index: 1;
	}
}
.nav-active{
	transform: translateX(0);
	display: flex;
	background-color: black;
	color: white;
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}