/*Adding padding top to all section elements to give navbUrger space.*/
section{
	padding-top: 8vh;
}
/* Style for the responsive navBurger. */
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	margin: auto;
	background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
	position: sticky;
    top: 0;
    z-index: 10;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 0;
	list-style: none;
}
.nav-links a{
	color: black;
	text-decoration: none;
	letter-spacing: 2.2px;
	font-size: 18px;
}
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 2px;
	background-color: #4DC58D;
	margin: 5px;
	transition: all 0.3s ease-in;
}
a:hover{
	color: #4DC58D;
}
a:active{
	color: #5B9BD5;
}

/* burger animation upon click */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	nav{
        justify-content: flex-end;
		background-image: linear-gradient(to left, #a8caba 0%, #5d4157 100%);
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-image: linear-gradient(to bottom, #a8caba 0%, #5d4157 100%);
		display: none;
		flex-direction: column;
        align-items: center;
		width: 50vw;
		transform: translateX(100%);
		transition: transform 0.1s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
        margin-right: 8%;
        z-index: 1;
	}
}
.nav-active{
	transform: translateX(0);
    display: flex;
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	color: black;
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}