.ourBusiness {
    text-align: justify;
}

#main-ourBusiness {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 60vw;
    margin: auto;
}

.ourBusiness > #main-ourBusiness > p > strong {
    font-size: 1.05em;
    color: #4DC58D;
}

.ourBusiness > #main-ourBusiness > img {
    position: relative;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    .ourBusiness > #main-ourBusiness > img {
        display: none;
    }
    .ourBusiness > #main-ourBusiness {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
