/* ---------------------------------------- */
/* ------------- OUR BUSINESS ------------- */
/* ---------------------------------------- */

/* Section: Justify all text content */
#ourBusiness {
    text-align: justify;
}

/* main_ourBusiness has 1fr for img, and 4fr for the p-element.
The width is 90vw to get a clean transition from the img gallery. */
.main_ourBusiness {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 90vw;
    margin: auto;
}

/* Bigger font-size for the paragraph in this section */
#ourBusiness > .main_ourBusiness > p {
    font-size: 1.5em;
}

/* Strong style */
#ourBusiness > .main_ourBusiness > p > strong {
    font-size: 1.05em;
    color: #4DC58D;
}

/* Img position and size */
#ourBusiness > .main_ourBusiness > img {
    position: relative;
    width: auto; 
    height: 50vh;
    margin-left: 10%;
}

/* ---------------------------------------- */
/* -------- RESPONSIVE FOR MOBILE --------- */
/* ---------------------------------------- */

/* Img will not be displayed, and center content */
@media only screen and (max-width: 768px) {
    #ourBusiness > .main_ourBusiness > img {
        display: none;
    }
    #ourBusiness > .main_ourBusiness {
        width: 90vw;
        font-size: calc(9px + 0.5vw); 
        display: flex;
        align-items: center;
        justify-content: center;
    }
}