.testemonials > h3{
    color: black;
}

#ourCustomersTitle{
    margin: auto;
    grid-column: 1/-1;
}

.testemonialsImgWrapper{
    border-radius: 100px;
    margin: auto;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px 1px;
    overflow: hidden;
    transition: 100ms;
}

.testemonialsImgWrapper:hover{
    transition: 100ms;
    height: 102px;
    width: 102px;
    box-shadow: 0px 0px 10px 1px;
}

.testemonialName{
    margin-top: 45px;
    font-weight: bold;
}
.testemonialText{
    color: black;
}
.testemonialHas{
    padding: 0 0 0 1em;
}
.testemonialHas li{
    color: black;
}
.testemonialsButtons{
    width: 85%;
    margin: auto;
    height: 3.5em;
    display: block;
    bottom: 1em;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: none;
    background-color: #5B9BD5;
    color: white;
    font-weight: bolder;
    transition: 100ms;
}

.testemonialsButtons:hover{
    background-color: rgb(81, 145, 203);
    width: 80%;
    transition: 100ms;
}
.testemonialsButtons:active{
    background-color: rgb(81, 145, 203);
    outline: none;
    
}
.testemonialsButtons:focus{
    background-color: rgb(81, 145, 203);
    outline: none;
}

#ourCustomers{
        background-color: black;
        width: 100vw;
        padding: 3vw;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .testemonials{
        width: 200px;
        height: 350px;
        margin: 50px auto auto auto;
        position: relative;
        padding: 1em;
        min-width: 170px;
        background-color: white;
        border-radius: 1px;
    }



@media only screen and (max-width: 920px){
    #ourCustomers{
        background-color: black;
        width: 100vw;
        padding: 3vw 15% 15% 15%;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
    
    .testemonials{
        width: 200px;
        height: 300px;
        margin: 70px auto auto auto;
        position: relative;
        padding: 1em;
        min-width: 170px;
        background-color: white;
        border-radius: 1px;
    }

}

@media only screen and (max-width: 590px){
    #ourCustomers{
        background-color: black;
        width: 100vw;
        padding: 3vw;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }
    
    .testemonials{
        width: 200px;
        height: 300px;
        margin: 70px auto auto auto;
        position: relative;
        padding: 1em;
        min-width: 170px;
        background-color: white;
        border-radius: 1px;
    }

}
