.testimonials>.textWrapper>h3 {
    color: black;
}

#ourCustomersTitle {
    margin: auto;
    grid-column: 1/-1;
}

.testimonialsImgWrapper {
    border-radius: 100px;
    margin: auto;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px 1px;
    overflow: hidden;
    transition: 100ms;
}

.testimonialsImgWrapper:hover {
    transition: 100ms;
    height: 102px;
    width: 102px;
    box-shadow: 0px 0px 10px 1px;
}

.testimonialName {
    margin-top: 45px;
    font-weight: bold;
}

.testimonialText {
    color: black;
}

.testimonialHas {
    padding: 0 0 0 1em;
}

.testimonialHas li {
    color: black;
}

.textWrapper{
    flex-grow: 1;
}

.testimonialsButtons {
    width: 85%;
    margin: 0.5em auto;
    height: 3.5em;
    border-radius: 5px;
    border: none;
    background-color: #5B9BD5;
    color: white;
    font-weight: bolder;
    transition: 100ms;
}

.testimonialsButtons:hover {
    background-color: rgb(81, 145, 203);
    width: 90%;
    transition: 100ms;
    cursor: pointer;
}

.testimonialsButtons:active {
    background-color: rgb(81, 145, 203);
    outline: none;

}

.testimonialsButtons:focus {
    background-color: rgb(81, 145, 203);
    outline: none;
}

#ourCustomers {
    background-color: black;
    width: 100vw;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(200px + 2vw);
    height: calc(330px + 5vw);
    margin: 50px auto auto auto;
    position: relative;
    padding: 1em;
    min-width: 170px;
    background-color: white;
    border-radius: 1px;
}

.iconMarker{
    width: 2em;
}

@media only screen and (max-width: 920px) {
    #ourCustomers {
        background-color: black;
        width: 100vw;
        padding: 3vw 15% 15% 15%;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    .testimonials {
        width: 200px;
        height: calc(315px + 5vh);
        margin: 70px auto auto auto;
        position: relative;
        padding: 1em;
        min-width: 170px;
        background-color: white;
        border-radius: 1px;
    }

}

@media only screen and (max-width: 590px) {
    #ourCustomers {
        background-color: black;
        width: 100vw;
        padding: 3vw;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }

    .testimonials {
        width: calc(200px + 2vw);
        height: calc(300px + 5vh);
        margin: 70px auto auto auto;
        position: relative;
        padding: 1em;
        min-width: 170px;
        background-color: white;
        border-radius: 1px;
    }

}