*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 75%;
    margin: auto;
}
.main-img img, 
.imgs img{
    width: 100%;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-in 1 forwards;
}