#whatWeOffer {
	padding-bottom: 0%;
}
/* The main holder for all module sections within the section */
#modulHolder {
	margin: 3%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
	justify-content: start;
	grid-gap: 2%;
}
/* How every module section should look */
.modulContent { 
	align-self: start;
	width: 100%;
	min-height: 0;
	min-width: 0;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 0;
}
/* Images within the modules */
.modulContent > img{
	width: 60%;
}



/* LIST STYLES: CUSTOM BULLET POINTS ETC */
.modulContent ul{
	list-style: none;
	display: inline-block;
	padding: 0 1em 0 1em;
}
.modulContent ul li {
	word-wrap: break-word;
    border-bottom-style: none;
    border-color: #ccc;
    margin: 5% 0;
    position: relative;
    text-align: left;
    padding-left: 30px;
    background-image: url(../img/whatWeOffer/checkBoxIcon.png);
 	background-repeat: no-repeat;
  	background-size: 20px 20px;
  	background-position: top 3px left 4px;
}	

/* Device responsive styling */
@media only screen and (max-width: 1000px){
	/* Make the grid to 1 column */
	#modulHolder {
		grid-template-columns: 1fr;
		justify-content: center;
	}
	/* Image rescaling on samll res */
	.modulContent > img{
		width: 40%;
	}
	/* Tweaks to make the ul and content rescale better */
	.modulContent ul{
		padding: 0 4em 0 5em;
	}
	.modulContent ul li {
		font-size: calc(16px + 0.5vw);
		text-align: left;
		background-position: top 0px left 8px; 
		background-size: 15px 15px;
	}
	/* Change padding so overlap with our customers is avoided */
	#whatWeOffer {
		padding-bottom: 40%;
	}
}


