*{
	padding: 0;
	padding-inline-start: 0; 
	box-sizing: border-box;
}
body{ 
	background-color: black;
}

/* Style for the responsive navBurger. */
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	margin: auto;
	background-color: black;
	position: sticky;
	top: 0;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 0;
	list-style: none;
}
.nav-links a{
	color: #4DC58D;
	text-decoration: none;
	letter-spacing: 2.2px;
	font-size: 18px;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 2px;
	background-color: #4DC58D;
	margin: 5px;
	transition: all 0.3s ease-in;
}

/* burger animation upon click */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

/* Original css styles  */
.wrapper{
    margin: auto;
    width: 50%;
    margin-bottom: 7%;
}

section{
	padding-top: 20px;
}

header{
	padding-top: 20px;
}
/*Fjerer listestilen på elementene i "Our Client" */
.clientList{
	list-style: none;
}

/* SPACING LISTEELEMENTER */
ol > li{
	padding-bottom: 8px;
}

/* TEKST */
p,h1,h2,h3,li,dl,dt,dd,b,strong {
	font-family: 'Lato';
	color: white;
	font-size:calc(10px + 0.5vw);
}
h1{
	color: #5B9BD5;
	font-size:calc(22px + 0.5vw);
}
strong{
	font-size:calc(10px + 0.5vw);
	color: #5B9BD5;
}
h2{
	color: #4DC58D;
	font-size:calc(17px + 0.5vw);
}
h3{
	color: rgb(77, 197, 141);
	font-size:calc(13px + 0.5vw);
}
hr{
	border: 0.4px solid #5B9BD5;
}
#nav_structure{
	margin: auto;
	width: 100%;
}

/* IKONVISNING */

#client-icon{
	padding-right: 1%;
	width:calc(8px + 1vw);
}
#purpgoals-icon{
	padding-right: 1%;
	width:calc(15px + 1.5vw);
}
#content-icon{
	padding-right: 1%;
	width:calc(15px + 1.5vw);
}
#requirements-icon{
	padding-right: 1%;
	width:calc(8px + 1.5vw);
	vertical-align: middle;
}
#location-icon{
	padding-right: 1%;
	width:calc(8px + 1vw);
	vertical-align: middle;
}
#difficulties-icon{
	padding-right: 1%;
	width:calc(8px + 0.2vw);
}
.contentHeader{
	color: rgb(91, 162, 228);
	border-bottom: 3px solid #4DC58D;
	width: inherit;
}
/* OVERLAYS */

#overlayL{
	position: fixed;
	width:calc(120px + 10%);
	left: 0;
	top: 0;
	margin-left: -40px;
	margin-top: -40px;
}

#overlayR{
	position: fixed;
	width:calc(120px + 10%);
	right: 0;
	bottom: 0;
	margin-right: -40px;
	margin-bottom: -20px;
}

/* List of minimum requirements */ 
li{
	margin: 0 0 0.5em 0;
}

/* CODES TYLE */
code{
	
	background-color: rgba(77, 197, 141, 0.4);
	border-radius: 0.15em;
	padding: 0 0.2em 0 0.2em;
	box-shadow: inset 0 0 0.1em rgba(77, 197, 141, 0.60);
	color: whitesmoke;
	font-family: 'consolas';
	font-size:calc(8px + 0.5vw);
	font-weight: 100;
}

/* Responsiveness + navBurger settings mobile*/
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	nav{
		justify-content: flex-end;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: black;
		display: none;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.1s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
		margin-right: 8%;
	}
	.wrapper{
		width: 90%;
		margin: auto;
		margin-bottom: 7%;
	}
}

.nav-active{
	transform: translateX(0);
	display: flex;
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

/* #timetag{
	background-color: #4DC58D;
	display: table;
	width: 7vw;
	height: 3vw;
	position: fixed;
	top: 0;
	right: 25vw;
	text-align: center;
	border-radius: 0 0 10px 10px;
	font-size:calc(12px + 0.5vw);
}
	
#timetag p{
	margin: 1vw;
	color: black;
	font-weight: bolder;
} */

/*TABLE DESIGN*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
td, th {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:nth-child(odd) {
	background-color: #adadad;
}

table{
	border: 2px solid white;
}
tr, th{
	border: 1px solid black;
}
table #first{
	background-color: #4DC58D;
	font-size: 1.2em;
}




/*LIST OF FILE AND FOLDERS*/
ul{
	padding: 0 0 0 30px;
}
ul ul{
	padding: 0 0 0 20px;
}



